<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ poll.question.lower }} | django-polls detail</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'polls_third_attempt/stylesheets/application.css' %}">
</head>

<body>
    <div class="wrapper">
        <section class="list">
            <header>
                <h1>{{ poll.question }}</h1>
            </header>

            {% if error_message %}
                <p class="notif notif--error list-error">{{ error_message }}</p>
            {% endif %}

            <form action="{% url 'polls_third_attempt:vote' poll.id %}" method="post" class="list-container">
                {% csrf_token %}

                {% for choice in poll.choice_set.all %}
                    <label class="list-item">
                        <input type="radio" name="choice" value="{{ choice.id }}">
                        {{ choice.choice_text }}
                    </label>
                {% endfor %}

                <div class="actions">
                    <input type="submit" value="Vote" class="button">
                    <a href="{% url 'polls_third_attempt:index' %}" class="button">Back to List</a>
                </div>
            </form>
        </section>
    </div>
</body>
</html>
