{% load staticfiles %}
<link rel="stylesheet" href="{% static 'polls/styles.css' %}">

<div class="wrapper">
    <section class="list list--alternate">
        <h1 class="list-header">Listing All Polls</h1>

        {% if latest_poll_list %}
            <ul class="list-container">
                {% for poll in latest_poll_list %}
                    <li><a href="{% url 'polls:detail' poll.id %}" class="list-item">{{ poll.question }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="notif notif--info list-notif">No polls are available.</p>
        {% endif %}
    </section>
</div>