*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu Mono";
    font-size: 62.5%;
    color: #333333;
}

h1 {
    padding: 10px 15px;
}

.list {
    padding: 5px;
}

.list > * {
    display: block;
}

.list--alternate > *:nth-of-type(even) {
    background-color: #dddddd;
}

.item {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #333333;
    padding: 10px;
    border-radius: 3px;
}

.item:hover, 
.item:focus {
    background-color: #cccccc;
    border: 1px solid #aaaaaa;
    padding: 9px;
}